@import '@styles/mixin.module.scss';

.container {
  @include flex_box_custom(center, center);

  width: 100px;
  height: 41px;
  background-color: #fff;
  border-radius: 3px;
  border: 0.5px solid #333;
}

.numberItem {
  font-size: 18px;
  color: #222222;
}

.intervalItem {
  font-size: 18px;
  color: #888888;
}
