@import '@styles/mixin.module.scss';

.container {
  padding-top: 85px;
}
.containerSteps {
  @include flex_box_custom(center, center, 0px);
  flex-direction: column;
  background-color: #fafafa;
  padding: 30px 0;

  .steps {
    @include flex_box_custom(center, center, 20px);
    .line {
      min-width: 120px;
      height: 1px;
      background-color: #e1e1e1;
    }
  }
  .textNoti {
    padding-top: 30px;
  }
  .steper {
    @include flex_box_custom(center, center, 10px);

    .numberStep {
      @include flex_box_custom(center, center, 0px);

      background-color: #333;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      color: #fff;
    }
    .textStep {
      color: #333;
      text-transform: uppercase;
    }
    .disableNumber {
      background-color: transparent;
      border: 1px solid #e1e1e1;
      color: #e1e1e1;
    }
    .disableText {
      color: #9a9a9a;
    }
  }
}
.containerContents {
  @include flex_box_custom(space-between, center, 0px);
}
.titleProduct {
  @include flex_box_custom(space-between, center, 0px);
  .nameProduct {
    width: 80%;
  }
}
