.container {
  padding: 30px;
  .title {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .boxRemember {
    margin-bottom: 30px;
    input {
      margin-right: 10px;
    }
    span {
      font-size: 14px;
    }
  }
  .lostPassword {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
  }
}
