@import '@styles/mixin.module.scss';

.container {
  @include flex_box_custom(center, center, 0);

  left: 0;
  right: 0;
}

.topHeader {
  position: absolute;
  top: 0;
}

.fixedHeader {
  position: fixed;
  top: -83px;
  background-color: #ffffffe5;
  z-index: 999;
  transform: translateY(83px);
  transition: transform 0.7s ease;
  backdrop-filter: blur(5px);
  box-shadow: 2px 0px 12px 0px rgba(0, 0, 0, 0.15);
}
.containerHeader {
  @include flex_box_custom(space-between, center, 20px);
  height: 83px;
  width: 1250px;
}
.boxContainer {
  @include flex_box_custom(center, center, 20px);
}
.boxIconSNS {
  @include flex_box_custom(center, center, 8px);
}
.boxIcon {
  @include flex_box_custom(center, center, 20px);

  .boxIconItem {
    &:hover {
      cursor: pointer;
    }
  }
}
.boxMenu {
  @include flex_box_custom(center, center, 30px);
}
.boxCart {
  position: relative;
  .quantity {
    @include flex_box_custom(center, center, 0px);
    @include radius_common(50%);

    position: absolute;
    width: 15px;
    height: 15px;
    top: -5px;
    left: -10px;
    font-size: 10px;
    color: #fff;
    background-color: #333333;
  }
}
